<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>803321733289-7gtnj1tprgemrv8f7888jgee1mfcg67h.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.803321733289-7gtnj1tprgemrv8f7888jgee1mfcg67h</string>
	<key>API_KEY</key>
	<string>AIzaSyAmfiLaetF_TWrMy2obs1fEixRf51wMJZY</string>
	<key>GCM_SENDER_ID</key>
	<string>803321733289</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>uk.geovation.sandbox</string>
	<key>PROJECT_ID</key>
	<string>geovation-sandbox</string>
	<key>STORAGE_BUCKET</key>
	<string>geovation-sandbox.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:803321733289:ios:41b1902f1835d9e98149b8</string>
	<key>DATABASE_URL</key>
	<string>https://geovation-sandbox-default-rtdb.europe-west1.firebasedatabase.app</string>
</dict>
</plist>